<mat-card class="cardCss w-100">
    <div class="borderBottom">
        <mat-card-header align="start">
            <mat-card-title>{{todoContent}}</mat-card-title>
            <mat-card-subtitle>{{todoStatus}}</mat-card-subtitle>
        </mat-card-header>
    </div>
    <mat-card-actions align="end" class="row">
        <button class="col-md-3" (click)="deleteButton(todoId,todoStatus)" mat-button>DELETE</button>
        <button class="col-md-3" (click)="openUpdateDialog(todoId)" mat-button>UPDATE</button>
    </mat-card-actions>
</mat-card>