<div class="container">
    <div class="row deneme"><ng-container *ngFor="let todo of inprogressTodosJson">
            <div class="col-md-4">
                <mat-card class="cardCss w-100">
                    <div class="borderBottom">
                        <mat-card-header align="start">
                            <mat-card-title>{{todo.content}}</mat-card-title>
                            <mat-card-subtitle>{{todo.status}}</mat-card-subtitle>
                        </mat-card-header>
                    </div>
                    <mat-card-actions align="end" class="row">
                        <button class="col-md-3" (click)="deleteButton(todo.id,todo.status)" mat-button>DELETE</button>
                        <button class="col-md-3" (click)="openUpdateDialog(todo.id)" mat-button>UPDATE</button>
                    </mat-card-actions>
                </mat-card>


                <!-- <app-todo-card class="m-3" [todoContent]="todo.content" [todoId]="todo.id"
                    [todoStatus]="todo.status"></app-todo-card> -->
            </div>
        </ng-container>

    </div>
</div>